footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer--icons {
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.footer--icons img,svg {
  width: 30px;
  margin: 5px 0;
}



.footer--icons span {
  font-size: 10px;
  font-weight: bold;
  display: block;
  transform: scale(0.7);
}
